[report]
show_missing = True

omit =
    */python?.?/*
    */migrations/*
    *tests*
    *manage*
    *apps.py*
    *production.py*
    *staging.py*
    *admin*
    *wsgi*
    *__init__*
    *0001_initial*
    */venv/*
    */settings/*
    *urls.py*
    *renderers.py*
